{% extends "bootstrap/base.html" %}
{% block content %}
{% block styles %}
  {{super()}}
<head>
  <div class='container'>
    <title>Places I've Been Map</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </div>
</head>
{% endblock %}
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #377ba8">
  <span class="navbar-brand" style="color: black"><b>Matthew's Travels</b></span>
  <a class="navbar-brand btn btn-outline-light" style="color: white" href="/upload">Upload Updated List</a>
</nav>

  <!-- body -->

    <!-- insert chart -->
    <div id="chart" class="chart"></div>

    <!-- add new destination -->
    <div class="container">
    <FORM>
      <p>Insert new destination here: </p>
      <p>
      <INPUT TYPE="Text" placeholder="Place" ID="TextField1">
      <P>
      <INPUT TYPE="Text" placeholder="Year - If Not this Year (Optional)" ID="TextField2">
      <button type="button" onclick="submitFunction(document.getElementById('TextField1').value,document.getElementById('TextField2').value)">Submit</button>
    </FORM>
    </div>

    <!-- adding for plotly -->
     <!-- D3.js -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
     <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
     <!-- Plotly.js -->
     <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
     <script type="text/javascript">
  
        var graphs = {{graphJSON | safe}};
        // follows: div-id, graph var, layout var - use {} if none to pass
        Plotly.plot('chart',graphs,{}); 
        
     </script>

     <script>
    // ADD NEW DESTINATION
    function submitFunction(TextField1, TextField2, TextField3) {
      alert("You have added the destination: "+ TextField1 + ', in the year: ' + TextField2);

      // interacting with flask route in runApp.py:
      $.ajax({
        type : 'POST',
        url : "/background_process",
        data : {'data':TextField1, 'data2': TextField2,}
      });
    }
  </script>

  <!-- Footer -->
<div class="container">
<p class=footer style=color:#377ba8>Matthew Brandeburg 2021</p>
</div>

{% endblock %}