<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload New Travel Tracker CSV File</title>
</head>
<body>
    <div class="container">
    <!-- back button -->
  <button onclick="goBack()">Go Back</button>
  <script>
  function goBack() {
    window.history.back();
  }
  </script>

    <h1>Upload a New Travel Tracker CSV</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv">
        <input type="submit" value="Upload">
    </form>
</div>
</body>
</html>
